<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>OfertOn</title>
        <meta name="keywords" content="HTML5 Template" />
        <meta name="description" content="Delivering the best version of you">
        <meta name="author" content="Blend">
        <!-- Favicon -->
        <link rel="shortcut icon" href="../img/logo-b-background.png" type="image/x-icon" />
        <link rel="apple-touch-icon" href="../img/logo-b-background.png">
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
        <!--STYLE-->
        <link rel="stylesheet" href="../css/index.css">
        <!--OWL CAROUSEL-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
            integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
            integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!--GOOGLE FONTS-->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    
    </head>
<body id="body">
    <!--SECCION 1 - BANNER-->
    <div class="oferton text-center">
        <h1 class="mo-32 color">¿Qué es OFERT-ÓN?</h1>
    <p class="mo-18">Te invitamos a conocer este evento digital de promociones comerciales que beneficia el consumo en comercios cordobeses por vía digital, brindando ofertas y descuentos especiales.</p>
    <p class="mo-18"> Lanzamos OFERT-ON con el fin de promover la modernización y actualización permanente del comercio minorista ante las cambiantes exigencias del mercado, las innovaciones tecnológicas y las nuevas tendencias comerciales.</p>
    <p class="mo-18 color">Ponemos en marcha OFERT-ON, el primer evento digital de promociones comerciales de la Provincia de Córdoba.</p>
    <img src="../img/img-que-es-oferton.png" alt="¿Que es oferton?">
    <p class="mo-18">Queremos promover la modernización y actualización permanente del comercio minorista, ante las cambiantes exigencias del mercado, las innovaciones tecnológicas, y las nuevas tendencias comerciales. Además buscamos fortalecer la actividad económica y la sostenibilidad del comercio minorista y las PyMEs comerciales y de servicios de la Provincia de Córdoba.</p>
    </div>
    
    <!--SCRYPTS-->
    <!--JQUERY-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--OWL-CAROUSEL-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  
</body>
</html>